# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

Questionaire_App/Questionaire_App.xcodeproj/project.pbxproj

*.pbxproj

Questionaire_App/Questionaire_App/Survey/SurveyViewController.h

Questionaire_App/Questionaire_App/Survey/SurveyViewController.m

Questionaire_App/Questionaire_App/MainStoryboard.storyboard

Questionaire_App/Questionaire_App/Survey/SurveyViewController.m

Questionaire_App/Questionaire_App/Survey/SurveyViewController.h

Questionaire_App/Questionaire_App/MainStoryboard.storyboard

Questionaire_App/Questionaire_App.xcodeproj/project.pbxproj
